body{

    /* background-color: #6D5D6E ; */
    /* background-color: #4F4557 ; */
    background-color: #393646;
    color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}

.title-header{

    /* background-color: #6D5D6E ;
    background-color: #4F4557 ; */
    background-color: #302940;
    display: block;
    position: relative;
    right: 8px;
    bottom: 8px;
    /* width: 100%; */
    padding: 8px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.title-header__title{

    letter-spacing: 2vw;
}

.title-header__about{

    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5vw;
}

.title-header__title, .title-header__about{
    
    color: white;
    text-align: center;
}

/* effects */

.glow{
    text-shadow : 1px 1px 3px white, -1px -1px 3px white;
}